div.jumbotron.carousel-hero {
  color:#fff;
  text-align:center;
  background-size:cover;
  background-position:center;
  padding-top:100px;
  padding-bottom:100px;
  margin-bottom:0;
}

div.jumbotron.hero-default {
  background-image:url('../../assets/img/blur/default.png');
}

div.jumbotron.hero-activity {
  background-image:url('../../assets/img/blur/activity.png');
}

div.jumbotron.hero-chat {
  background-image:url('../../assets/img/blur/chat.png');
}

div.jumbotron.hero-community {
  background-image:url('../../assets/img/blur/community.png');
}

div.jumbotron.hero-challenges {
  background-image:url('../../assets/img/blur/challenges.png');
}

h1.hero-title, h2.hero-title, h3.hero-title {
  font-family: 'Josefin Sans', sans-serif;
  color: #F0FFFF	;
  background-color: rgba(0, 255, 146, 0.5);
    text-decoration-color: #F0FFFF;
  font-size: 25px;
  text-shadow:0 3px 3pxrgb(71, 76, 82);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1.hero-titleactivity, h2.hero-titleactivity, h3.hero-titleactivity {
  font-family: 'Josefin Sans', sans-serif;
  color: #F0FFFF	;
  background-color: rgba(255, 255, 255, 0.8);
    text-decoration-color: #F0FFFF;
  font-size: 25px;
  text-shadow:0 3px 3pxrgb(71, 76, 82);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1.hero-titlechat, h2.hero-titlechat, h3.hero-titlechat {
  font-family: 'Josefin Sans', sans-serif;
  color: #F0FFFF	;
  background-color: rgba(138, 128, 128  , 0.6);
    text-decoration-color: #F0FFFF;
  font-size: 25px;
  text-shadow:0 3px 3pxrgb(71, 76, 82);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


p.hero-subtitle {
  font-family: 'Josefin Sans', sans-serif;
  text-decoration-color: #F0FFFF;
  max-width:600px;
  margin:25px auto;
  padding:10px 15px;
  color: #F0FFFF	;
  mix-blend-mode: difference;

}

